@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Lato:wght@700&family=Ubuntu:ital@1&display=swap");

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: conic-gradient(from 0.5turn at center left, lime, cyan);
  font-family: "AR One Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.container{
    
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 6px ;
    box-shadow: 6px 4px 4px 5px ;
    width: 90%;
    margin: 10px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.heading{
    font-size: 26px;

}
#btn{
    height: 30px;
    width: 36px;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 1px 1px darkgrey;
    border-radius: 6px;
}
.input{
height: 26px;
width: 266px;
background-color: rgba(255, 255, 255, 0.6);
border-color: rgba(255, 255, 255, 0.3);
outline: 0;
box-shadow: 1px 1px 1px 1px darkgrey;
font-size: 16px;
padding: 0 42px;
border-radius: 6px;

}
.meaning-container{
    display: none;
}

@media (max-width:490px){
    .container{
        width: 66%;
    }
    .input{
        width: 166px;
    }
}
@media (max-width:420px){
    .container{
        width: 66%;
    }
    .input{
        width: 156px;
        padding: 0 12px;
    }
    #audio{
        width: 266px;
    }
}
@media (max-width:350px){
    .container{
        width: 66%;
    }
    .input{
        font-size: 14px;
        width: 126px;
        padding: 0 12px;
    }
    #audio{
        width: 241px;
    }
}